<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>

<body>
    <!-- Header -->
    <% if (locals.user !=undefined) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

    <div class="container products-wrapper">
        <div class="d-flex align-items-center">
            <h2 class="products-title">
                <%= producto.nombreProduct %>
            </h2>
            <% if(propietario){ %>
                <p class="product-detail-description">
                    <a href="/product/edit/<%= producto.id %>">Editar</a>
                </p>
            
            <%}%>
        </div>
        <div class="product-detail">
            <div class="row">
                <article class="col-12 col-lg-8 product-detail-info">
                    <img src="/images/products/<%= producto.imagenProduct %>" alt="" class="product-detail-img">
                    <p class="product-detail-description">
                        <%= producto.descripcionProduct %>
                    </p>
                </article>
                <div class="col-12 col-lg-4">
                    <section class="comments">
                        <% for(let i = 0; i < comentarios.length; i++) { %>
                            <article>
                                <img src="/images/users/<%= comentarios[i].usuario.foto %>" alt="">
                                <div class="data">
                                    <p class="user">
                                        <strong><a href="/users/profile/<%= comentarios[i].usuario.id %>"><%= comentarios[i].usuario.nombre %></a></strong>
                                        <%= comentarios[i].comentario %>
                                    </p>
                                </div>
                            </article>
                        <% } %>
                    </section>
                    <% if(logueado){%>
                        <form method="POST" action="/product/add-coments/<%=producto.id%>" class="form">
                            <input class="form-input" type="text" value="" placeholder="Agregar comentario" id="comentario" name="comentario">
                            <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                        </form>
                    <%} %>
                    <hr>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <%- include("./partials/footer") %>
    <!-- /footer -->

</body>
</html>
