<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>

<body>
    <!-- Header -->
    <% if (locals.user != undefined) { %>
        <%- include('./partials/headerLogueado') %>
    <% } else { %>
        <%- include('./partials/header') %>
    <% } %>

    <!-- Registro -->
    <div class="container form-login-register">
        <div class="row">
            <div class="col-12">
                <h2 class="registro-title">Ingresá tus datos</h2>
            </div>
            <div class="col-12">
                <form action="/users/register" method="POST" class="form-login-register">
                    <div class="formulario">
                        <label for="email" style="font-size: 18px;">Correo electrónico:</label>
                        <input type="email" class="form-login" id="email" name="email" value="<%= old.email || '' %>" >
                        <% if (errors && errors.email) { %>
                            <p class="error"><%= errors.email.msg %></p>
                        <% } %>
                    </div>
                    <div class="formulario">
                        <label for="nombre" style="font-size: 18px;">Usuario:</label>
                        <input type="text" class="form-login" id="nombre" name="nombre" value="<%= old.nombre || '' %>" >
                        <% if (errors && errors.nombre) { %>
                            <p class="error"><%= errors.nombre.msg %></p>
                        <% } %>
                    </div>
                    <div class="formulario">
                        <label for="contrasenia" style="font-size: 18px;">Contraseña:</label>
                        <input type="password" class="form-login" id="contrasenia" name="contrasenia" >
                        <% if (errors && errors.contrasenia) { %>
                            <p class="error"><%= errors.contrasenia.msg %></p>
                        <% } %>
                    </div>
                    <div class="formulario">
                        <label for="fecha" style="font-size: 18px;">Fecha de Nacimiento:</label>
                        <input type="date" class="form-login" id="fecha" name="fechaNacimiento" value="<%= old.fechaNacimiento || '' %>">
                    </div>
                    <div class="formulario">
                        <label for="numeroDocumento" style="font-size: 18px;">Nro de Documento:</label>
                        <input type="number" class="form-login" id="numeroDocumento" name="numeroDocumento" value="<%= old.numeroDocumento || '' %>">
                    </div>
                    <div class="formulario">
                        <label for="foto" style="font-size: 18px;">Foto de Perfil:</label>
                        <input type="text" class="form-login" id="foto" name="foto" value="<%= old.foto || '' %>">
                    </div>
                    <button type="submit" class="button-form">Registrarse</button>
                </form>
            </div>
        </div>
    </div>

    <!-- footer -->
    <%- include("./partials/footer") %>
    <!-- /footer -->
</body>
</html>
